{
    "env": {
      "es6": true,
      "browser": true,
      "node": true,
      "mocha": true
    },
    "globals": {
        "window": true,
        "console": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "import/no-unresolved": 0,
        "indent": [ "error", 4],
        "react/jsx-indent": [2, 4 ],
        "class-methods-use-this": 0,
        "max-len": 0
    },
    "plugins": [
        "react"
    ],
    "extends": "airbnb",
    "settings": {
        "import/resolver": "webpack"
    }
}
