main {
    margin-top: 40px;
}

.divider {
    height: 30px;

    &.double {
        height: 60px;
    }
}

.text-right {
    text-align: right;
}

.ts-main {
    overflow-y: auto;
}


.triangle {
    width: 300px;
    height: 200px;
    background: #000000;
    position: relative;

    .inner {
        position: absolute;
        left: 20px;
        top: 20px;
        bottom: 20px;
        right: 20px;

        .sideC {
            position: absolute;
            bottom: 0px;
            left: 0px; 
            height: 1px;
            overflow: hidden;
            width: 100%;
            background: #ffffff;
        }
    }
}